<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="password.css">
    <script src="https://kit.fontawesome.com/e71ff04157.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Change your account login details</h1>
    <a href="/"><button id="home">Home</button></a>
    <div id="inner">
        <p>The password has to be</p>
        <ul>
            <li id="Eight">Minimum 8 characters long.</li>
            <li id="Upper">One uppercase letter atleast</li>
            <li id="Lower">One lowercse letter at least</li>
            <li id="Number">One Number</li>
        </ul>
        <form method="POST" action="/pass">
            <input type="password" class="password" id="password" name="new" placeholder="New Password"><i
                class="fa-solid fa-eye" id="show"></i><br><br>
            <input type="password" name="confirm" class="password" placeholder="Confirm Password"><span id="error">
                <%= err %>
            </span><br><br>
            <input type="submit" value="Update" id="submit">
        </form>
    </div>
    </div>
    <script>
        let Eight = document.getElementById("Eight");
        let Upper = document.getElementById("Upper");
        let Lower = document.getElementById("Lower");
        let digit = document.getElementById("Number");
        let password = document.getElementById("password");
        let show = document.getElementById('show');
        show.addEventListener("click", () => {
            if (password.type === "text") {
                password.type = "password";
            }
            else {
                password.type = "text";
            }
        })
        password.addEventListener("keyup", (e) => {
            let a = e.target.value.trim();
            document.getElementById("error").textContent = "";
            if ((/[0-9]/).test(a)) {
                digit.classList.add("green");
            }
            else {
                digit.classList.remove("green");
            }
            if ((/[A-Z]/).test(a)) {
                Upper.classList.add("green");
            }
            else {
                Upper.classList.remove("green");
            }
            if ((/[a-z]/).test(a)) {
                Lower.classList.add("green");
            }
            else {
                Lower.classList.remove("green");
            }
            if (a.length >= 8) {
                Eight.classList.add("green");
            }
            else {
                Eight.classList.remove("green");
            }
        })
    </script>
</body>

</html>