*{
    padding:0;
    margin: 0;
    border-style:border-box;
}
h1{
    height:100px;
    padding:15px;
    font-size: 50px;
    border-bottom:1px solid black;
}
p{
    color:grey;
    font-size:25px;
}
li{
    font-size: 20px;
}
li,span{
    color: red;
}
.green{
    color: seagreen;
}
#home{
    height: 40px;
    width:75px;
    margin-top:10px;
    position:absolute;
    top:20px;
    right:30px;
    border:none;
    text-decoration: none;
    background-color: blue;
    color:white;
    cursor: pointer;
}
#submit{
    height: 40px;
    width:75px;
    margin-top:10px;
    border:none;
    text-decoration: none;
    background-color: blue;
    color:white;
    display:block;
    cursor: pointer;
    border-radius: 10px;
    padding:5px;
}
#inner{
    margin-left:40%;
    padding:30px;
}
form{
    margin-top:30px;
}
i{
    cursor:pointer;
    margin-left: 5px;
}
button{
    border-radius: 10px;
    padding:5px;
}
.password{
    border:none;
    width:200px;
    height: 30px;
    border-bottom:1px solid black;
}
ul{
    margin-top: 20px;
}
span{
    margin-left:10px;
}